<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
        ng-click="clear()">
            &times;
        </button>
        <h4 class="modal-title" id="myRequirementLabel" >创建或者修改需求</h4>
    </div>

    <div class="modal-body">
        <div class="form-group">
            <label for="id" >ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="requirement.id" readonly />
        </div>

        <div class="form-group">
            <label class="control-label"  for="field_name">标题</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   ng-model="requirement.name"
                   required/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                   ng-show="editForm.name.$error.required" >
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="detail" >详情</label>
            <input type="text" class="form-control" id="detail" name="detail"
                   ng-model="requirement.detail" />
        </div>
        <div class="form-group">
            <label for="sysCode" >所属系统</label>
            <input type="text" class="form-control" id="sysCode" name="sysCode"
                   ng-model="requirement.sysCode" />
        </div>
        <div class="form-group">
            <label for="expectedUpdateTime" >计划上线时间</label>
            <input type="date" class="form-control" id="expectedUpdateTime" name="expectedUpdateTime"
                   ng-model="requirement.expectedUpdateTime" />
        </div>
        <div class="form-group">
            <label for="submitter" >需求人</label>
            <input type="text" class="form-control" id="submitter" name="submitter"
                   ng-model="requirement.submitter" />
        </div>
        <div class="form-group">
            <label for="developTime" >开发时间</label>
            <input type="text" class="form-control" id="developTime" name="developTime"
                   ng-model="requirement.developTime" />
        </div>
        <div class="form-group">
            <label for="developer" >开发人员</label>
            <input type="text" class="form-control" id="developer" name="developer"
                   ng-model="requirement.developer" />
        </div>
        <div class="form-group">
            <label for="testTime" >测试时间</label>
            <input type="date" class="form-control" id="testTime" name="testTime"
                   ng-model="requirement.testTime" />
        </div>
        <div class="form-group">
            <label for="tester" >测试人员</label>
            <input type="text" class="form-control" id="tester" name="tester"
                   ng-model="requirement.tester" />
        </div>
        <div class="form-group">
            <label for="remarks" >备注</label>
            <input type="text" class="form-control" id="remarks" name="remarks"
                   ng-model="requirement.remarks" />
        </div>
        <div class="form-group">
            <label for="status" >状态</label>
            <input type="text" class="form-control" id="status" name="status"
                   ng-model="requirement.status" />
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span >Save</span>
        </button>
    </div>

</form>


